/** @format */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
header {
  display: flex;
  align-items: center;
  color: black;
}
body {
  background-image: url("../images/samuel-zeller-158996.jpg");
  background-color: white;
  background-repeat: no-repeat;
  min-height: 70vh;
  background-size: cover;
  display: block;
  grid-gap: lem;
  grid-template-rows: auto;
}

main {
  background-position: right;
}
.logo {
  border-radius: 30px;
  border-image: fill;
  margin: 30px;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
h2 {
  font: Helvetica;
  font-style: italic;
  color: blue;
}
h3 {
  font: Helvetica;
  color: black;
  text-align: start;
  font-style: italic;
  position: relative;
}
h4 {
  font: serif;
  font-size: 18px;
  color: white;
  text-transform: capitalize;
  margin-bottom: 30px;
  font-weight: 500;
  text-decoration: underline;
}
h5 {
  color: white;
  font: serif;
}

nav li {
  border: 1px solid;
  background-color: rgb(240, 135, 65);
  width: auto;
  display: inline-block;
  margin: 20px;
  padding: 5px;
  position: relative;
  font: Helvetica;
}
nav ul {
  float: left;
}
nav a {
  color: white;
  text-decoration: none;
}
a {
  text-decoration: none;
}
nav a :hover {
  text-decoration: underline;
  background-color: orange;
}
.form {
  width: 200px;
  height: 44px;
  border-radius: 20px;
  display: block;
  flex-direction: row;
  align-items: center;
  float: right;
  margin: 10px;
}
.wrap-search {
  float: right;
  margin: auto;
}
p {
  font: sans-serif;
  font-size: 20px;
  color: rgb(7, 7, 90);
  font-style: italic;
}
.general {
  margin-top: 0px;

  margin-right: 10px;
  margin-left: 80px;
  width: 70%;
  float: left;
  min-height: 175px;
  position: relative;
}
.item {
  position: relative;
  background-color: rgb(253, 199, 99);
  padding: 10px;
  margin: auto;
  display: grid;
  min-height: 175px;
  border: 2px solid white;
  border-radius: 20px;
  position: relative;
  text-align: left;
  width: 80%;
  float: right;
}
.item1 {
  border: 2px solid white;
  border-radius: 10px;
  position: relative;
  margin: auto;
  padding: 10px;
}
.forkids {
  margin-left: 20px;
  width: 300px;
  height: 300px;
  border-radius: 50%;
}
.forteachers {
  margin-left: 20px;

  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.forresearch {
  margin-left: 20px;

  width: 300px;
  height: 300px;
  border-radius: 50%;
}
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px;
  min-height: 175px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.footer {
  padding: 70px 0px;
}
.containerfooter {
  max-width: 1750px;
  overflow: hidden;
  margin: auto;
  padding: 70px 0;
  display: block;
  box-sizing: border-box;
}
.footer-row {
  display: block;
  margin: 0 auto;
  width: 1100px;
  height: 100px;
}
footer-col {
  width: 25%;
  padding: 0 10px;
}
* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

footer-col h4 {
  font: serif;
  font-size: 18px;
  color: white;
  text-transform: capitalize;
  margin-bottom: 30px;
  font-weight: 500;
}
.footer-row .footer-col {
  width: calc(21.6666666667% - 20px);
  margin-right: 10px;
  float: left;
  height: 100%;
  display: block;
}
.footer-row .footer-col:last-child {
  margin-right: 0;
}
.imageex {
  float: left;
  width: 300px;
  height: 300px;
  border-radius: 10px;
  display: grid;
}
